<include file="Public:header"/>
<!-- 头部结束 -->
<style>
    .cooperative-main{width: 1200px;margin:0 auto;height: auto;overflow: auto;}
    .cooperative-left{width:185px;height:auto;float: left;border:1px solid #ededed;background: #fff  }
    .cooperative-right{width:1000px;height:auto;float: right;border: 1px solid #c8c8c8;border-radius: 3px;background: #fff;}
    .cooperative-left ul li{width: 155px;height: 48px;line-height: 48px;font-size: 16px;cursor: pointer}
    .cooperative-left ul li a{width: 100px;height: 48px;float: left;font-size: 16px;color: #696969}
    .coo-right-title{height: 30px;font-size: 18px;line-height: 30px;width: 100%;margin-bottom: 20px;color: #383838;margin-top: 55px;}
    .coo-right-title span{width: auto;margin: 0 auto;border-bottom: 1px solid #fd8238;}
    .cooperative-right-main{width: 918px;height: auto;padding-left: 32px;padding-right: 32px;}
    .cooperative-info{width: 781px;height: 70px;margin-bottom: 21px;}
    .cooperative-info ul li{float: left;line-height: 35px;font-size: 14px;color: #696969}
    .cooperative-info ul .li1{width: 70%;}
    .cooperative-info ul .li2{width: 30%;}
    .cooperative-detail{line-height: 32px;color: #646464;}
    .cooperative-detail p{text-indent: 29px;font-size: 14px;text-indent: 32px;}
    .bread_nav{width: 1180px;height: 40px;line-height: 40px;font-size: 14px;color: #696969;padding-left: 20px;}
    .main-warp{padding-top: 0px;padding-bottom: 115px;}
    .pay{background: url("__PUBLIC__/Home/style/images/guarantee/guarantee.png"); width: 25px;height: 23px;margin-top: 10px;margin-right: 5px;float: left;margin-left: 20px;}
    .control{background: url("__PUBLIC__/Home/style/images/guarantee/guarantee.png") 25px 4px;; width: 25px;height: 23px;margin-top: 10px;margin-right: 10px;float: left;margin-left: 15px;}

</style>
<link rel="stylesheet" href="__PUBLIC__/Home/css/lrtk.css" />
<script src="__PUBLIC__/Home/js/js01.js"></script>
<script src="__PUBLIC__/Home/js/js02.js"></script>
<link href="__PUBLIC__/Home/css/style02.css" rel="stylesheet"/>
<script src="__PUBLIC__/Home/js/ScrollPic.js" type="text/javascript"></script>
<div class="main-warp">
    <div class="bread_nav"><a class="home" href="javascript:;"></a><a href="/">首页</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="{:U('Article/cooperative_institution')}">合作机构</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="{:U()}"><neq name="guarantor" value="">风控机构<else />支付机构</neq></a></div>
<div class="cooperative-main">
    <div class="cooperative-left">
        <ul>
            <li class="cooperative-unselect" style="border-bottom:1px solid #ededed"><p class="pay"></p><a href="{:U('Article/cooperative_institution')}">支付机构</a></li>
            <li class="cooperative-unselect"><p class="control"></p><a href="{:U('Article/risk_control_institution')}">风控机构</a></li>
        </ul>
    </div>
    <div class="cooperative-right">
        <div class="company_detail">
            <div class="coo-right-title" style="text-align: center;">
                <span>
                <neq name="guarantor" value="">{$guarantor.company}<else />迅付信息科技有限公司</neq>
                </span>
            </div>
            <div class="cooperative-right-main">
                <div class="cooperative-info">
                    <ul>
                        <li class="li1">企业简称：<neq name="guarantor" value="">{$guarantor.name}<else />环迅支付</neq></li>
                        <li class="l12"><neq name="guarantor" value="">注册日期：{$guarantor.birthday|time_format='Y-m-d'}<else />注册日期：2008-07-14</neq></li>
                        <li class="li1"><neq name="guarantor" value="">所在地区：{$guarantor.city|area='p,c'}<else />支付业务许可证编号：Z20021310000017</neq></li>
                        <li class="li2">注册资金：<neq name="guarantor" value="">{$guarantor.capital}万元<else />10500万元</neq></li>
                    </ul>
                </div>
                <div class="cooperative-detail">
                    <neq name="guarantor" value="">{$guarantor.introduce}<else />
                    <!--   环迅介绍 start -->
                    <p>迅付信息科技有限公司（简称：环迅支付），是中国最早成立的第三方支付企业。公司在2011年获颁中国人民银行首批《支付业务许可证》。公司目前可以支持国际主流信用卡及所有国内主流银行的在线支付，为全球超过60万家商户及2000万用户提供金融级的支付体验。</p>
                    <p>环迅支付总部位于上海，在长春、北京、南京、成都、重庆、福州、广州、杭州、天津及深圳均拥有分支机构。   为提升客户服务水平，环迅支付不满足于依靠简单的支付产品解决企业的功能性需要，而是通过平台为企业提供金融咨询、清结算、ERP无缝对接等一系列服务，全面满足企业的财务需求。公司于2012年全面升级具有自主知识产权的"一平台、云覆盖"平台系统，完成由支付企业到金融服务企业的锐变。</p>
                    <p>"一平台"指的是环迅支付摒弃围绕单一产品研发的模式，业内唯一使用行业领先的TOGAF（企业开放组体系结构框架）统一架构开发，具备灵活的伸缩性，易于扩展针对各行业的资金解决方案。本平台基于环迅支付10多年的支付行业经验，可与网上商城、航空机旅、酒店、外贸、教育、传统企业、供应链、B端市场等行业需求高度吻合。</p>
                    <p>"云覆盖"是环迅支付应用的领先互联网云技术，为行业用户提供基于云的支付体验及支付安全防范。目前环迅支付已新建多层网络系统实现反馈式神经网络模型，自主开发了基于场景的交易行为分析系统，利用云技术实时对关键数据进行分析，应对瞬千万变的网络钓鱼和欺诈。并通过硬件加密技术保护数据安全性，为客户服务器数据开辟专用通道，所有设备符合银监会规范的金融二级标准。 在云计算的支持下，环迅支付推出了可行业共享的安全保护数据库平台。平台服务范围覆盖国内国际银行卡、信用卡的支付安全，使用在线安全支付反欺诈系统，可完成对电子支付信息安全的风险评估，充分保障企业资金安全。在将来，环迅支付将继续前行，为中国电子商务发展，为提升社会整体营运效率而做出贡献。</p>
                    <!--   环迅介绍 end -->
                    </neq>
                </div>
                <div class="company_img" style="margin-top:0px;border:none;border-top: 1px solid #e7e7e7;margin-bottom:10px;">
                    <!--滚动图片 start-->

                    <div align="center" >
                        <div class="rollphotos">
                            <div class="blk_29" style="background:#fff;">
                                <div class="LeftBotton" id="LeftArr1"></div>
                                <div class="Cont" id="ISL_Cont_1">
                                    <div id="Contract" class="gallery row-fluid">
                                        <neq name="guarantor" value="">
                                            <foreach name="guarantor_image" key='key' item='item'>
                                                <div class="box" style="margin-left:20px;">
                                                    <a data-gallery="gallery-contract" id="example2-1" class="document" href="__PUBLIC__/static/imguploader/guarantor/dimg{$item.cid}/{$item.image}">
                                                        <div class="img-polaroid" >
                                                            <div class="thumb" style="float:left;margin-top:10px;border:#cccccc 1px solid;padding:3px;;">
                                                                <img src="__PUBLIC__/static/imguploader/guarantor/dimg{$item.cid}/{$item.image}" style="width:250px;height:180px;"/>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <div class="document-name">{$item.desc}</div>
                                                </div>
                                            </foreach>
                                        <else />
                                        <!-- 环迅图片 start -->
                                                <div class="box" style="margin-left:20px;">
                                                    <a data-gallery="gallery-contract" id="example2-1" class="document" href="__PUBLIC__/static/imguploader/paymentor/huanxunpaymentlicense.jpg">
                                                        <div class="img-polaroid" >
                                                            <div class="thumb" style="float:left;margin-top:10px;border:#cccccc 1px solid;padding:3px;">
                                                                <img src="__PUBLIC__/static/imguploader/paymentor/huanxunpaymentlicense.jpg" style="width:250px;height:180px;"/>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <div class="document-name">支付业务许可证</div>
                                                </div>
                                                <div class="box" style="margin-left:20px;">
                                                    <a data-gallery="gallery-contract" id="example2-1" class="document" href="__PUBLIC__/static/imguploader/paymentor/huanxunbusinesslicense.jpg">
                                                        <div class="img-polaroid" >
                                                            <div class="thumb" style="float:left;margin-top:10px;border:#cccccc 1px solid;padding:3px;">
                                                                <img src="__PUBLIC__/static/imguploader/paymentor/huanxunbusinesslicense.jpg" style="width:250px;height:180px;"/>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <div class="document-name">营业执照</div>
                                                </div>
                                                <div class="box" style="margin-left:20px;">
                                                    <a data-gallery="gallery-contract" id="example2-1" class="document" href="__PUBLIC__/static/imguploader/paymentor/huanxunpci-dss.jpg">
                                                        <div class="img-polaroid" >
                                                            <div class="thumb" style="float:left;margin-top:10px;border:#cccccc 1px solid;padding:3px;">
                                                                <img src="__PUBLIC__/static/imguploader/paymentor/huanxunpci-dss.jpg" style="width:250px;height:180px;"/>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <div class="document-name">PCI-DSS认证</div>
                                                </div>
                                        <!-- 环迅图片 end -->
                                        </neq>
                                    </div>
                                </div>
                                <div class="RightBotton" id="RightArr1"></div>
                            </div>
                            <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
                                <div class="slides"></div>
                                <h3 class="title"></h3>
                                <a class="prev">?</a>
                                <a class="next">?</a>
                                <a class="close">×</a>
                                <ol class="indicator"></ol>
                            </div>
                        </div>
                    </div>
                    <!--滚动图片 end-->
                </div>
            </div>
        </div>
        </div>
        <script>
             //图片滚动
                var scrollPic_02 = new ScrollPic();
                scrollPic_02.scrollContId = "ISL_Cont_1"; //内容容器ID
                scrollPic_02.arrLeftId = "LeftArr1";//左箭头ID
                scrollPic_02.arrRightId = "RightArr1"; //右箭头ID

                scrollPic_02.frameWidth = 850;//显示框宽度
                scrollPic_02.pageWidth = 280; //翻页宽度！！！！

                scrollPic_02.speed = 10; //移动速度(单位毫秒，越小越快)
                scrollPic_02.space = 10; //每次移动像素(单位px，越大越快)
                scrollPic_02.autoPlay = false; //自动播放
                scrollPic_02.autoPlayTime = 3; //自动播放间隔时间(秒)

                scrollPic_02.initialize(); //初始化
            
        </script>
    </div>

</div>
<include file="Public:footer"/>